@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@300;400;500;600&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgb(203, 199, 199),rgb(255, 249, 249));
}

.login{
    height: auto;
    width: 350px;
    background-color: white;
}
.container{
    
    width: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   

}
.container h5{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.login{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

}
.login #user{
    width: 100%;
    padding: 0.6rem 0;
    padding-left: 0.5rem;
    border-radius: 5px;
    border:1px solid skyblue;
    margin-bottom: 1rem;
}
.login #user:hover{
    border:1px solid brown;
}
.login #pass{
    width: 100%;
    padding: 0.6rem 0;
    padding-left: 0.5rem;
    border-radius: 5px;
    border:1px solid skyblue;
    margin-bottom: 1rem;
}
.login #pass:hover{
    border:1px solid brown;
}

#check{
    float: left;
    
}
.check-container{
    display: flex;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    align-items: center;
}



.login .button1{
    width: 100%;
    padding: 0.6rem 0;
    padding-left: 0.5rem;
    border-radius: 5px;
    background-color: rgb(5, 110, 102);
    margin-bottom: 1rem;
    color: white;
    border: none;
}
.login .button1:hover{
    opacity: 0.9;
    
}
.login .button2{
    width: 100%;
    padding: 0.6rem 0;
    padding-left: 0.5rem;
    border-radius: 5px;
    background-color: rgba(251, 116, 71, 0.996);
    margin-bottom: 1rem;
    color: white;
    border: none;
}
.login .button2:hover{
    opacity: 0.9;
    
}
.login p{
    font-size: 0.8rem;
    color: rgb(94, 93, 93);
    font-weight: 500;
}
.login h5{
    margin-top: 0;
    font-size: 0.8rem;
    color: rgb(2, 2, 108);
}
span{
    color: rgb(94, 93, 93);
}